<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterTutoApp.reptile.home.title">Reptiles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reptile" [routerLink]="['/reptile/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterTutoApp.reptile.home.createLabel">
            Create new Reptile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reptiles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subspecies"><span jhiTranslate="jhipsterTutoApp.reptile.subspecies">Subspecies</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="legsNbr"><span jhiTranslate="jhipsterTutoApp.reptile.legsNbr">Legs Nbr</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shell"><span jhiTranslate="jhipsterTutoApp.reptile.shell">Shell</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reptile of reptiles ;trackBy: trackId">
                <td><a [routerLink]="['/reptile', reptile.id, 'view' ]">{{reptile.id}}</a></td>
                <td>{{reptile.subspecies}}</td>
                <td>{{reptile.legsNbr}}</td>
                <td>{{reptile.shell}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/reptile', reptile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reptile', reptile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reptile/'+ reptile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="reptiles && reptiles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
